body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin-bottom: 30px;
}

.header {
  margin-left: 20px;
}

.form {
  margin-left: 20px;
  width: 30%;
}

.table-container {
  margin-left: 20px;
}

.book-author-list {
  padding-left: 0;
}

.book-author-list li {
  list-style: none;
}

.name-li {
  font-style: italic;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
